### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Node ###
node_modules/

### Script Data ###
localData/

### Build things ###
lib/
localData/

### Tests ###
.env

### Yarn ###
.yarn

### NX Monorepo tooling files ###
.nx/installation
.nx/cache
.nx/workspace-data